<div class="buttons">
    <a class="buttonEdit" href="{$URL}/{$pageUri}/@edit?revision={$pageContent._id}">Düzenle</a>
    <a class="buttonHistory" href="{$URL}/{$pageUri}/@history">Geçmiş</a>
</div>

<div class="wiki_content">

    {if !$history}
        Bu sayfa henüz oluşturulmammış, dolayısıyla geçmiş bilgisi yok <br/>
        <a class="wiki_url" href="{$URL}/{$pageUri}/@edit">Oluşturmak ister misiniz?</a>
    {else}
        <table id="historyTable">
            <tr>
                <th>Değiştirme tarihi</th>
                <th>Son değiştiren</th>
                <th>Not</th>
                <th></th>
                <th></th>
            </tr>
        {foreach from=$history key=key item=item}
            <tr class="row_{$key%2}">
                <td class="time">{$item._time|date_format:"%d-%m-%Y ~ %H:%M:%S"}</td>
                <td class="author">{$item.author}</td>
                <td>{$item.comment}</td>
                <td class="show"><a class="wiki_url" href="{$URL}/{$pageUri}/@show?revision={$item._id}">Görüntüle</a></td>
                <td class="edit"><a class="wiki_url" href="{$URL}/{$pageUri}/@edit?revision={$item._id}">Değiştir</a></td>
            </tr>
        {/foreach}

        </table>
    {/if}
</div>
