body {
	font:12px Arial, sans-serif;
	margin:0px; 
    padding:0px;
}

.clear{
	clear: both;
}

.hidden {display:none}

.float_left {float:left}
.float_right {float:right}

.center {width:960px; margin:0 auto}

#header {
    background-color:#172120;
}

#header a.logo {
    display:block;
    width:250px;
    height:80px;
    cursor:pointer;
}


#header .header {
    background:url("../img/header.jpg");
    height:87px;
}


.generateNewPage {
    height:50px;
    background:url('../img/ok.png') no-repeat 30px 50%;
    padding:5px;
    width:200px;
}

.generateNewPage a {
    display:block;
    padding-left:80px;
    margin-top:20px;
    color:#000000;
    font-weight:bold;
    text-decoration:none
}

#editForm .header  {
    padding:5px 0;
}
#editForm .header input {
    width:600px;
    padding:5px;
    font-size:14px;
    font-weight:bold;
}
#editForm .comment {width:300px;}

#historyTable {
    width:90%;
    margin:0 auto;
}

#historyTable th, #historyTable td {
        border:1px solid #BBBBBB;
        padding:4px;
}

#historyTable th {
    text-align:center;
    font-weight:bold;
}

#historyTable .row_0 {background:#efefef}
#historyTable a {font-weight:bold; text-decoration:none}
#historyTable a:hover {text-decoration:underline}
#historyTable td.time {width:150px; text-align:center}

#historyTable td.show {width:70px; text-align:center}
#historyTable td.show a{color:#518e40}


#historyTable td.edit {width:70px;text-align:center }
#historyTable td.edit a{color:#e3ad00 }

.revisionInfo {color:#BBBBBB}

.wiki_content {
    padding-top:5px;
    border-top:1px dotted #BBB;
    padding-bottom:50px;
}


.buttons a {
    font-weight:bold;
    text-decoration:none;
    padding:0 10px;
}  

.buttons a:hover {
    text-decoration:underline;
}

.buttonEdit {
    color:#e3ad00;
}

.buttonHistory {
    color:#ce0000;
}

.buttonShow {
    color:#5b7118;
}

.wiki_content a.wiki_url {
        padding-right:0px;
        background:none;
}

.wiki_content a.wiki_url.filled {
    color: blue;
}

.wiki_content a.wiki_url.empty {
    color: red;
}

.wiki_content a {
        background:url('../img/external_link.png') no-repeat right;
        padding-right:13px;
        color: green; 
        font-weight:bold;
}


.fatalError {
    width:500px; 
    margin:0 auto;
    background:#be0001;
    border:2px dotted #000000;
    color:#FFFFFF;
    font-weight:bold;
    padding:20px;
    font-size:30px;
    text-align:center;
}

.wiki_header {
    font-size:20px;
    font-weight:bold;
    padding-bottom:8px;


}
